section
  .index-banner.swiper-container
    .swiper-wrapper
      .swiper-slide
        img.w-100(src='https://picsum.photos/1400/400', alt='廣告輪播')
      .swiper-slide
        img.w-100(src='https://picsum.photos/1400/400', alt='廣告輪播')
      .swiper-slide
        img.w-100(src='https://picsum.photos/g/1400/400/?gravity=east', alt='廣告輪播')
      .swiper-slide
        img.w-100(src='https://picsum.photos/1400/400/?blur', alt='廣告輪播')
      .swiper-slide
        img.w-100(src='https://picsum.photos/1400/400?image=0', alt='廣告輪播')

    .swiper-pagination
    .swiper-button-prev.swiper-button-white
    .swiper-button-next.swiper-button-white
