section.container-fluid.mb-half
  .index-discount.swiper-container
    .swiper-wrapper.discount-list
      figure.swiper-slide
          +discount-list("墨鏡", 5, "#", "350/350/?gravity=east")
      figure.swiper-slide
          +discount-list("墨鏡", 9, "#", "350/350/?blur")
      figure.swiper-slide
          +discount-list("墨鏡", 8, "#", "350/350?image=0")
      figure.swiper-slide
          +discount-list("墨鏡", 7, "#", "350/350?image=2")
      figure.swiper-slide
          +discount-list("墨鏡", 6, "#", "350/350/?random")
      figure.swiper-slide
          +discount-list("墨鏡", 4, "#", "350/350/?gravity=east")
    +swiper-button(class="swiper-button-white")
    //- .swiper-button-prev.swiper-button-white
    //- .swiper-button-next.swiper-button-white
