section.container-fluid.mb-half
    .sec-title
        h2 關注我們 Instagram
        .subtitle 每一個都是自由的，湖底的生命也是積累的，並且可以累積出來
    .index-instagram.swiper-container
        .swiper-wrapper
          .swiper-slide
            +image-ig("文字內容", '#', "https://picsum.photos/206/206?image=0")
          .swiper-slide
            +image-ig("文字內容", '#', "https://picsum.photos/206/206?image=1")
          .swiper-slide
            +image-ig("文字內容", '#', "https://picsum.photos/206/206?image=2")
          .swiper-slide
            +image-ig("文字內容", '#', "https://picsum.photos/206/206?image=3")
          .swiper-slide
            +image-ig("文字內容", '#', "https://picsum.photos/206/206?image=4")
          .swiper-slide
            +image-ig("文字內容", '#', "https://picsum.photos/206/206?image=5")
          .swiper-slide
            +image-ig("文字內容", '#', "https://picsum.photos/206/206?image=6")
          .swiper-slide
            +image-ig("文字內容", '#', "https://picsum.photos/206/206?image=7")

        .swiper-pagination
        .swiper-button-prev.swiper-button-white
        .swiper-button-next.swiper-button-white
