section.index-newProduct.mb-half.container
  .sec-title
    h2 新產品趨勢
    .subtitle 每一個都是自由的，湖底的生命也是積累的，並且可以累積出來

          
  .index-newpro.swiper-container
    .swiper-wrapper
      .swiper-slide
        article.product-item.product-action.card
          figure.product-img
            span.badge.badge-dark.label-new New
            span.badge.badge-danger.label-sale -7%
            a(href='#')
              img(src='https://picsum.photos/225/225', alt='')
            +action-links("#", "#", "#", "#")
          .product-caption
            .d-flex.justify-content-between.align-items-center.pb-1
              .product-manufacturer
                a.text-secondary(href='#') 產品製造商
              .product-ratings
                i.fas.fa-star.text-warning
                i.fas.fa-star.text-warning
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
            h5.card-title
              a.text-dark(href='#') 商品名稱商品名稱商品名稱商品名稱商品名稱
            +price("$78.90","$79.90")
      .swiper-slide
        article.product-item.card
          figure.product-img
              span.badge.badge-dark.label-new New
              span.badge.badge-danger.label-sale -7%
              a(href='#')
                img(src='https://picsum.photos/225/225', alt='')
              +action-links("#", "#", "#", "#")
          .product-caption
            .d-flex.justify-content-between.align-items-center.pb-1
              .product-manufacturer
                a.text-secondary(href='#') 產品製造商
              .product-ratings
                i.fas.fa-star.text-warning
                i.fas.fa-star.text-warning
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
            h5.card-title
              a.text-dark(href='#') 商品名稱商品名稱商品名稱商品名稱商品名稱
            .product-price
              span.price-old $78.90
              span.price-new $78.90
      .swiper-slide
        article.product-item.card
          figure.product-img
            span.badge.badge-dark.label-new New
            a(href='#')
              img(src='https://picsum.photos/225/225?image=0', alt='')
            +action-links("#", "#", "#", "#")
          .product-caption
            .d-flex.justify-content-between.align-items-center.pb-1
              .product-manufacturer
                a.text-secondary(href='#') 產品製造商
              .product-ratings
                i.fas.fa-star.text-warning
                i.fas.fa-star.text-warning
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
            h5.card-title 商品名稱商品名稱商品名稱商品名稱商品名稱
            .product-price
              span.price-old $78.90
              span.price-new $78.90
      .swiper-slide
        article.product-item.card
          figure.product-img
            span.badge.badge-dark.label-new New
            a(href='#')
              img(src='https://picsum.photos/g/225/225', alt='')
            +action-links("#", "#", "#", "#")
          .product-caption
            .d-flex.justify-content-between.align-items-center.pb-1
              .product-manufacturer
                a.text-secondary(href='#') 產品製造商
              .product-ratings
                i.fas.fa-star.text-warning
                i.fas.fa-star.text-warning
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
            h5.card-title
              a.text-dark(href='#') 商品名稱商品名稱商品名稱商品名稱商品名稱
            .product-price
              span.price-old $78.90
              span.price-new $78.90
      .swiper-slide
        article.product-item.card
          figure.product-img
            span.badge.badge-dark.label-new New
            span.badge.badge-danger.label-sale -7%
            a(href='#')
              img(src='https://picsum.photos/225/225/?random', alt='')
            +action-links("#", "#", "#", "#")
          .product-caption
            .d-flex.justify-content-between.align-items-center.pb-1
              .product-manufacturer
                a.text-secondary(href='#') 產品製造商
              .product-ratings
                i.fas.fa-star.text-warning
                i.fas.fa-star.text-warning
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
            h5.card-title
              a.text-dark(href='#') 商品名稱商品名稱商品名稱商品名稱商品名稱
            .product-price
              span.price-old $78.90
              span.price-new $78.90
    
    
    .swiper-button-prev
    .swiper-button-next
