section.promo-banner-section.mb-half.bg-light(style='background-image: url(https://picsum.photos/1440/500/?gravity=east)')
    .container
        .promo-text.text-light
            h1 趕快！
            p
              | 阿卜杜勒是一名年輕的喪偶穆斯林男子，他需要離開敘利亞，不要被當局推遲前往歐洲。 他推斷，最好的方法是獲得另一個家庭作為封面，他找到了一個。 然而，這只是一種騙局，只是達到目的的手段。
