section.container-fluid.mb-half
    .sec-title
        h2 我們的分類
        .subtitle 每一個都是自由的，湖底的生命也是積累的，並且可以累積出來
    .text-center.py-5.d-none.d-md-block
        button.btn.btn-outline-primary.filter-button(data-filter='all') 全部
        button.btn.btn-outline-primary.filter-button(data-filter='hdpe') HDPE Pipes
        button.btn.btn-outline-primary.filter-button(data-filter='sprinkle') Sprinkle Pipes
        button.btn.btn-outline-primary.filter-button(data-filter='spray') Spray Nozzle
        button.btn.btn-outline-primary.filter-button(data-filter='irrigation') Irrigation Pipes
    .index-classification.swiper-container
        .swiper-wrapper
          .swiper-slide.filter.hdpe
                article.product-item.card
                  figure.product-img
                    span.badge.badge-dark.label-new New
                    span.badge.badge-danger.label-sale -7%
                    a(href='#')
                      img(src='https://picsum.photos/225/225', alt='')
                    .action-links.btn-group
                      a(href='#')
                      a.btn.btn-cart(href='#')
                        i.fas.fa-shopping-basket
                      a.btn.btn-cart(href='#')
                        i.far.fa-heart
                      a.btn.btn-cart(href='#')
                        i.fas.fa-sync-alt
                      a.btn.btn-cart(href='#')
                        i.fab.fa-sistrix
                  .product-caption
                    .d-flex.justify-content-between.align-items-center.pb-1
                      .product-manufacturer
                        a.text-secondary(href='#') 產品製造商
                      .product-ratings
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                    h5.card-title
                      a.text-dark(href='#') 商品名稱商品名稱商品名稱商品名稱商品名稱
                    .product-price
                      span.price-old $78.90
                      span.price-new $78.90
          .swiper-slide.filter.sprinkle
                article.product-item.card
                  figure.product-img
                    span.badge.badge-dark.label-new New
                    span.badge.badge-danger.label-sale -7%
                    a(href='#')
                      img(src='https://picsum.photos/225/225', alt='')
                    .action-links.btn-group
                      a(href='#')
                      a.btn.btn-cart(href='#')
                        i.fas.fa-shopping-basket
                      a.btn.btn-cart(href='#')
                        i.far.fa-heart
                      a.btn.btn-cart(href='#')
                        i.fas.fa-sync-alt
                      a.btn.btn-cart(href='#')
                        i.fab.fa-sistrix
                  .product-caption
                    .d-flex.justify-content-between.align-items-center.pb-1
                      .product-manufacturer
                        a.text-secondary(href='#') 產品製造商
                      .product-ratings
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                    h5.card-title
                      a.text-dark(href='#') 商品名稱商品名稱商品名稱商品名稱商品名稱
                    .product-price
                      span.price-old $78.90
                      span.price-new $78.90
          .swiper-slide.filter.spray
                article.product-item.card
                  figure.product-img
                    span.badge.badge-dark.label-new New
                    a(href='#')
                      img(src='https://picsum.photos/225/225?image=0', alt='')
                    .action-links.btn-group
                      a(href='#')
                      a.btn.btn-cart(href='#')
                        i.fas.fa-shopping-basket
                      a.btn.btn-cart(href='#')
                        i.far.fa-heart
                      a.btn.btn-cart(href='#')
                        i.fas.fa-sync-alt
                      a.btn.btn-cart(href='#')
                        i.fab.fa-sistrix
                  .product-caption
                    .d-flex.justify-content-between.align-items-center.pb-1
                      .product-manufacturer
                        a.text-secondary(href='#') 產品製造商
                      .product-ratings
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                    h5.card-title 商品名稱商品名稱商品名稱商品名稱商品名稱
                    .product-price
                      span.price-old $78.90
                      span.price-new $78.90
          .swiper-slide.filter.irrigation
                article.product-item.card
                  figure.product-img
                    span.badge.badge-dark.label-new New
                    a(href='#')
                      img(src='https://picsum.photos/g/225/225', alt='')
                    .action-links.btn-group
                      a(href='#')
                      a.btn.btn-cart(href='#')
                        i.fas.fa-shopping-basket
                      a.btn.btn-cart(href='#')
                        i.far.fa-heart
                      a.btn.btn-cart(href='#')
                        i.fas.fa-sync-alt
                      a.btn.btn-cart(href='#')
                        i.fab.fa-sistrix
                  .product-caption
                    .d-flex.justify-content-between.align-items-center.pb-1
                      .product-manufacturer
                        a.text-secondary(href='#') 產品製造商
                      .product-ratings
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                    h5.card-title
                      a.text-dark(href='#') 商品名稱商品名稱商品名稱商品名稱商品名稱
                    .product-price
                      span.price-old $78.90
                      span.price-new $78.90
          .swiper-slide.filter.irrigation
                article.product-item.card
                  figure.product-img
                    span.badge.badge-dark.label-new New
                    span.badge.badge-danger.label-sale -7%
                    a(href='#')
                      img(src='https://picsum.photos/225/225/?random', alt='')
                    .action-links.btn-group
                      a(href='#')
                      a.btn.btn-cart(href='#')
                        i.fas.fa-shopping-basket
                      a.btn.btn-cart(href='#')
                        i.far.fa-heart
                      a.btn.btn-cart(href='#')
                        i.fas.fa-sync-alt
                      a.btn.btn-cart(href='#')
                        i.fab.fa-sistrix
                  .product-caption
                    .d-flex.justify-content-between.align-items-center.pb-1
                      .product-manufacturer
                        a.text-secondary(href='#') 產品製造商
                      .product-ratings
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                    h5.card-title
                      a.text-dark(href='#') 商品名稱商品名稱商品名稱商品名稱商品名稱
                    .product-price
                      span.price-old $78.90
                      span.price-new $78.90

        .swiper-button-prev.swiper-button-white
        .swiper-button-next.swiper-button-white
