section.superiority.container.pt-5.pb-3
    .row.small.text-center
      .col-6.col-md-3.mb-2.border-right
        h3.h6 免費送貨
        |所有訂單免運費
      .col-6.col-md-3.mb-2.border-right
        h3.h6 退貨
        |30天免費退貨
      .col-6.col-md-3.mb-2.border-right
        h3.h6 在線支持
        |全天24小時支持
      .col-6.col-md-3.mb-2
        h3.h6 優和促銷活動
        |價格節省，折扣，優惠券
