extends ./include/_layout.jade
block vartext
    - var pathtitle = '選單'
block header
    - var path = 'nav.html'
    include include/layouts/_navbar.jade
block content
    .container
        //- nav#navigation.navigation.navigation-justified
        //-     +m-nav-text("#","LOGO")
