footer.footer.bg-dark.pt-5.pb-3
  .footer-inner.pb-3
    .container
      .row.text-light
        .col-md-5
          h2.h5 徐桃花
          p.small.text-light 我們是一支由設計師和開發人員組成的團隊，致力於打造高品質的致力於打造高品質的
          p
            | 地址： 6688Princess Road，London，London London BAS 23JK，UK
            br
            | 電話：（012）800 456 789-987
            br
            | 電子郵件：support@example.com
            br
        .col-md-2.col-sm-6
          h2.h5 產品
          ul.list-unstyled.small
            li
              a.text-light(href='#') 價格下跌
            li
              a.text-light(href='#') 新產品
            li
              a.text-light(href='#') 最佳銷售
            li
              a.text-light(href='#') 聯繫我們
            li
              a.text-light(href='#') 登錄
        .col-md-2.col-sm-6
          h2.h5 我們公司
          ul.list-unstyled.small
            li
              a.text-light(href='#') 關於我們
            li
              a.text-light(href='#') 網站地圖
            li
              a.text-light(href='#') 商店
            li
              a.text-light(href='#') 條款和條件
            li
              a.text-light(href='#') 我的帳戶
        .col-md-3
          h2.h5 註冊我們的通訊
          p.small.text-light 您可以隨時取消訂閱。為此，請在法律聲明中找到我們的聯繫信息。
  .footer-copyright.pt-3
    .container.d-flex.text-light
      | 版權所有©2018 徐桃花。保留所有權利。
      .ml-auto.h5
        i.mr-1.fab.fa-cc-visa
        i.mr-1.fab.fa-cc-mastercard
        i.mr-1.fab.fa-cc-paypal
        i.mr-1.fab.fa-cc-jcb
        i.mr-1.fab.fa-cc-apple-pay
