//- fb
//- 主要的語系，使用方法
meta(property='og:locale', content='zh_TW')
meta(property='og:site_name', content='網站的名稱')
meta(property='og:title', content='網頁的主旨、標題、title')
meta(property='og:type', content='網頁物件的型態，例如 video.movie ，需要配合其他的參數來指定')
//- 在分享時所要用的圖片縮圖用此選項指定，可以標示多個讓分享時來做選擇
meta(property='og:image', content='./assets/images/seoimg/fbimg.jpg')
meta(property='og:url', content='要分享到FB的網址 ，例如：http://blog.xuite.net/tolarku/blog ')
meta(property='og:description', content='此網頁的描述，使用方法')
//- 微博
meta(property='og:type', content='網頁物件的型態，例如 video.movie ，需要配合其他的參數來指定')
//- ico
link(rel='shortcut icon', sizes='16x16', href='./assets/images/seoimg/favicon.ico')
link(rel='apple-touch-icon', href='./images/seoimg/touch-icon-iphone.jpg')
link(rel='apple-touch-icon', sizes='120x120', href='./assets/images/seoimg/touch-icon-ipad.jpg')
link(rel='apple-touch-icon', sizes='152x152', href='./assets/images/seoimg/touch-icon-ipad-retina.jpg')
