section.topnav.border-bottom
    .container.d-flex
      .topnav-title.small.pt-1 本週销售高達20％折扣。 使用代码“SALEOFF20”
      .ml-auto
        .btn-group
          button.btn.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
            | TWD$
          .dropdown-menu
            a.dropdown-item(href='#')  USD $
            a.dropdown-item(href='#') Euro €
        .btn-group
          button.btn.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
            | 繁體中文
          .dropdown-menu
            a.dropdown-item(href='#') 簡體中文
            a.dropdown-item(href='#') English
