.list-radio{
  border: none;
  margin-bottom: 10px;

  > input{
	display: none;
  
    &:checked + label{
        background: $orange;
        color:lighten($white, 50%);
        border: $btn-border-width solid rgba(#000, .1);
      }
    &:disabled + label{
      opacity: $btn-disabled-opacity;
      @include box-shadow(none);
    }
  }

  > label{
        display: inline-block;
        font-weight: $btn-font-weight;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        @include transition($btn-transition);
        @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
        border: $btn-border-width solid rgba(#000, .1);
        background-color:$white;
        cursor: pointer;
        @include hover-focus {
          // text-decoration: none;
          background-color:darken($white, 5%);
        }
    
  }
}

@each $color, $value in $theme-colors {
  .radio-#{$color} {
    @include radio-variant($value);
  }
}


@each $color, $value in $theme-colors {
  .radio-outline-#{$color} {
    @include radio-outline-variant($value);
  }
}
